/* If you're seeing this, I apologize for the bad CSS. I still need to actually learn it LOL */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #cdd6f4;
    background-color: rgb(30, 30, 46);

    margin: 0;
}

header {
    background-color: #181825;
    text-align: center;
    padding: 1px;
    border-radius: 8px;
    font-family: IBMPlexMonoBold;
}

.buttonsTop {
    text-align: left;
}

@font-face {
    font-family: IBMPlexMonoRegular;
    src: url(../Assets/Fonts/IBMPlexMono-Regular.ttf)
}

@font-face {
    font-family: IBMPlexMonoMedium;
    src: url(../Assets/Fonts/IBMPlexMono-Medium.ttf)
}

@font-face {
    font-family: IBMPlexMonoBold;
    src: url(../Assets/Fonts/IBMPlexMono-Bold.ttf)
}

p {
    font-family: IBMPlexMonoRegular;
    font-size: clamp(1rem, 15vw - 2rem, 1.5rem);
}

h1 {
    font-size: clamp(2rem, 20vw - 3rem, 3rem);
}

h2 {
    text-shadow: #000 0px 0px 16px;
    font-family: IBMPlexMonoBold;
    font-size: clamp(1.5rem, 15vw - 2rem, 2rem);
}

.centerH2 {
    text-align: center;
}

/* I have no idea how exactly the font size things work ↑ */

a:link {
    color: #89b4fa;
}

a:visited {
    color: #b4befe;
}

button {
    transition-duration: 0.25s;
    border: 0px;
    border-radius: 12px;
    color: rgb(30, 30, 46);
    background-color: #cba6f7;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1rem, 15vw - 2rem, 1.5rem);
    margin: 4px 2px;
    cursor: pointer;
    font-family: IBMPlexMonoMedium;
}

button:hover {
    background-color: rgb(173, 136, 217);
}

.homepageHeader {
    background-image: linear-gradient(to bottom, rgba(30, 30, 46, 0), rgba(30, 30, 46, 1)), url(../Assets/Images/banner_homepage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: rgb(24, 24, 37);
    text-align: center;
    padding: 50px;
    border-radius: 0px;
    font-family: IBMPlexMonoBold;

    text-shadow: 0px 0px 20px #000;
}

.mainBody {
    margin-inline: 24px;
}

.gameInfo {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.gameInfo p {
    margin-block: 0px;
    margin-right: 4px;
}

.screenshotGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.screenshotItem {
    margin: 5px;
    width: 360px;
    align-content: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.75) 0px 0px 10px);
}

.screenshotItem img {
    border: 0px;
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.subpageHeader {
    background-image: linear-gradient(to bottom, rgba(30, 30, 46, 0), rgba(30, 30, 46, 1)), url(../Assets/Images/temp_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: rgb(24, 24, 37);
    text-align: center;
    padding: 25px;
    border-radius: 0px;
    font-family: IBMPlexMonoBold;

    text-shadow: 0px 0px 20px #000;
}

.subpageHeader img {
    width: 75vw;
    height: 25vh;

    filter: drop-shadow(rgba(0, 0, 0, 0.75) 0px 0px 15px);

    object-fit: contain;
}

/* Subpage Header Variations */

#bjsHeader {
    background-image: linear-gradient(to bottom, rgba(30, 30, 46, 0), rgba(30, 30, 46, 1)), url(../Assets/Images/Games/banner_BJS.png);
}

#atcHeader {
    background-image: linear-gradient(to bottom, rgba(30, 30, 46, 0), rgba(30, 30, 46, 1)), url(../Assets/Images/Games/background_atc.png);
}

#mystuffHeader {
    background-image: linear-gradient(to bottom, rgba(30, 30, 46, 0), rgba(30, 30, 46, 1)), url(../Assets/Images/banner_myStuff.png);
}

.gamesContainer {
    padding-top: 24px;
    padding-bottom: 50px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.gameFrame {
    transition-duration: 0.25s;
    border-radius: 8px;
    border: 3px solid #cdd6f4;
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../Assets/Images/temp_img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
}

.gameFrame img {
    height: 125px;
    width: 225px;

    object-fit: contain;
}

.gameButton:hover {
    border: 3px solid #fff;
}

/* Game Specific Buttons */

#bjsButton {
    background-image: url(../Assets/Images/Games/banner_BJS.png);
}

#leButton {
    background-image: url(../Assets/Images/Games/background_lithiumExpedition.png);
}

#atcButton {
    background-image: url(../Assets/Images/Games/background_atc.png);
}

#unrevealedButton {
    background-image: url(../Assets/Images/hmm.png);
}

@media (max-width: 600px) {
    .buttonsTop {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .mainBody {
        margin-inline: 15vw;
    }
}

@media (min-width: 2000px) {
    .mainBody {
        margin-inline: 35vw;
    }
}