/* If you're seeing this, I apologize for the bad CSS. I still need to actually learn it LOL */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #cdd6f4;
    background-color: rgb(30, 30, 46);

    margin: 0;
}

header {
    background-color: #181825;
    text-align: center;
    padding: 1px;
    border-radius: 8px;
    font-family: IBMPlexMonoBold;
}

.buttonsTop {
    text-align: left;
}

@font-face {
    font-family: IBMPlexMonoRegular;
    src: url(../Assets/IBMPlexMono-Regular.ttf)
}

@font-face {
    font-family: IBMPlexMonoMedium;
    src: url(../Assets/IBMPlexMono-Medium.ttf)
}

@font-face {
    font-family: IBMPlexMonoBold;
    src: url(../Assets/IBMPlexMono-Bold.ttf)
}

p {
    font-family: IBMPlexMonoRegular;
    font-size: clamp(1rem, 15vw - 2rem, 1.5rem);
}

h1 {
    font-size: clamp(2rem, 20vw - 3rem, 3rem);
}

h2 {
    font-family: IBMPlexMonoBold;
    font-size: clamp(1.5rem, 15vw - 2rem, 2rem);
}

/* I have no idea how exactly the font size things work ↑ */

a:link {
    color: #89b4fa;
}

a:visited {
    color: #b4befe;
}

button {
    transition-duration: 0.25s;
    border: 0px;
    border-radius: 12px;
    color: rgb(30, 30, 46);
    background-color: #cba6f7;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1rem, 15vw - 2rem, 1.5rem);
    margin: 4px 2px;
    cursor: pointer;
    font-family: IBMPlexMonoMedium;
}

button:hover {
    background-color: rgb(173, 136, 217);
}

.homepageHeader {
    background-image: linear-gradient(to bottom, rgba(30, 30, 46, 0), rgba(30, 30, 46, 1)), url(../Assets/Homepage_Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: rgb(24, 24, 37);
    text-align: center;
    padding: 50px;
    border-radius: 0px;
    font-family: IBMPlexMonoBold;

    text-shadow: 0px 0px 20px #000;
    
}

.mainBody {
    margin-inline: 24px;
}

.bjsHeader {
    background-image: linear-gradient(to bottom, rgba(30, 30, 46, 0), rgba(30, 30, 46, 1)), url(../Assets/Banner_BJS.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: rgb(24, 24, 37);
    text-align: center;
    padding: 25px;
    border-radius: 0px;
    font-family: IBMPlexMonoBold;

    text-shadow: 0px 0px 20px #000;
}

.bjsHeader img {
    width: 75vw;
    height: 25vh;

    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .buttonsTop {
        text-align: center;
    }
}